*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.vendingMachine{
   /* background: #000; */
   height: 100vh;
   width: 100vw;
    background-image: url('../public/Images/VendingMachine.png');
    /* background-repeat: no-repeat; */
    background-size: cover;

}

@media screen and (max-width:1500px) {
    .vendingMachine{
        background-size: contain;
    }
}